<%- include("partials/header.ejs") %>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AI: defend from sybilattac</title>
</head>
<body>
    <h1>Sybil Attack</h1>

    <button class=button1 onclick="window.location.href='./1'">1</button>
    <button class=button1 onclick="window.location.href='./2'">2</button>
    <button class=button1 onclick="window.location.href='./3'">3</button>
    <p>Text 1</p>
</body>
</html>
<%- include("partials/footer.ejs") %>

<li class="pSize">The case of Arbitrum shows that Sybil Attacks have become a big problem.</li>
<li class="pSize">A large number of sybil attacks could be researched.</li>
<li class="pSize">A single node pretends to operate with many fake addresses.</li>
<li class="pSize">Hackers fake addresses to claim many Airdops. </li>
<li class="pSize">This undermines the principle of the decentralized distribution of airdrops to many individuals.