<%- include("partials/header.ejs") %>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AI: defend from sybilattac</title>
</head>
<body>
    <h1>Sybil Detection</h1>
    <p class="pSize">Let's take a closer look at the problem: </p>
     <li class="pSize">A large number of sybil attacks could be researched</li> <br> <br>
     <button class=button1 onclick="window.location.href='./1'">1</button>
     <button class=button1 onclick="window.location.href='./2'">2</button>
     <button class=button1 onclick="window.location.href='./3'">3</button>
    <img src="./images/graph_sybil_attack_addressI.jpeg" />
    <a class="sourceMedium" href="https://medium.com/@Beosin_com/a-closer-look-at-the-anti-sybil-mechanism-under-the-arbitrum-airdrop-hype-5fd6405a2604">source: https://medium.com/@Beosin_com/a-closer-look-at-the-anti-sybil-mechanism-under-the-arbitrum-airdrop-hype-5fd6405a2604</a> 

   

</body>
</html>
<%- include("partials/footer.ejs") %>