<%- include("partials/header.ejs") %>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AI: defend from sybilattac</title>
</head>
<body>
    <h1>ETHMuc Hackathon 2023</h1>
    <p>AI meets web3:</p> 
    <h3>Sybil Attacks</h3>



</body>
</html>
<%- include("partials/footer.ejs") %>