<%- include("partials/header.ejs") %>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AI: defend from sybilattac</title>
</head>
<body>
    <h1>Sybil Attacks</h1>
    <h2>Airdrops</h2>
    <ul>
    <li class="pSize">are a common way to distribute coins decentrally</li> <br> <br> 
    <h2>Sybil Attacks</h2>
    <li class="pSize">Hackers fake addresses to claim many Airdops,</li>
    <li class="pSize">a single node pretends to operate with many fake addresses</li><br> <br>
    <h2>Problem:</h2>
    <li class="pSize">This undermines the principle of the decentralized distribution of airdrops to many individuals</li>
    </ul>

</body>
</html>
<%- include("partials/footer.ejs") %>