<%- include("partials/header.ejs") %>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AI: defend from sybilattac</title>
</head>
<body>
    <h1>Sybil Protection</h1>
    <h2>Data</h2>

    <a class=link href="https://www.google.de">Link</a>

</body>
</html>
<%- include("partials/footer.ejs") %>