<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link
        rel="stylesheet"
        href="styles/style.css">



    <title>Document</title>
    <div class=container>
        <img id=logo src="images/LogoXXX.png" />

        <p class=front id=teamName onclick="window.location.href='./'">Home</p>
        <p class=front onclick="window.location.href='./page1'">Definition</p>
        <p class=front onclick="window.location.href='./page2'">Problem</p>
        <p class=front onclick="window.location.href='./page3'">Data</p>
    </div>
</head>
<body>
    
    
</body>
</html>